<p id="notice"><%= notice %></p>

<h1>Listing Trips</h1>

<div id="map">
<input type="text" id="searchbox"></input>
</div>
    <script type="text/javascript">

var map;
function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 40.7127, lng: -74.0059},
    zoom: 10
  });
}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["API_KEY"] %>&callback=initMap">
    </script>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Trip date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td><%= trip.name %></td>
        <td><%= trip.lat %></td>
        <td><%= trip.lng %></td>
        <td><%= trip.trip_date %></td>
        <td><%= trip.user %></td>
        <td><%= link_to 'Show', trip %></td>
        <td><%= link_to 'Edit', edit_trip_path(trip) %></td>
        <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Trip', new_trip_path %>
