<ol class="breadcrumb">
  <li class="active">My Trips</li>
</ol>
<%= content_tag :div, class: "trips_information", data: {trips: @trips} do %>
<% end %>

<script type="text/javascript">

  var map;
  var newyork_area = {lat: 40.7127, lng: -73.9059};
  var markers_trips = [];
  var myLatLng_trips = [];
  var labels_trip = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
  var labelIndex_trip = 0;

  var trips_information = $('.trips_information').data('trips');

  for (var i = 0; i < trips_information.length; i++) {
    var latLng = {lat: parseFloat(trips_information[i].lat), lng: parseFloat(trips_information[i].lng)};
    myLatLng_trips.push(latLng);
  };

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: newyork_area
    });
  }

  function drop() {
    clearMarkers();
    labelIndex_trip = 0;
    labels_trip = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
    for (var i = 0; i < myLatLng_trips.length; i++) {
      addMarkerWithTimeout(myLatLng_trips[i], i * 200);
    }
  }

  function addMarkerWithTimeout(position, timeout) {
    window.setTimeout(function() {
      markers_trips.push(new google.maps.Marker({
        position: position,
        map: map,
        label: labels_trip[labelIndex_trip++ % labels_trip.length],
        animation: google.maps.Animation.DROP
      }));
    }, timeout);
  }

  function clearMarkers() {
    for (var i = 0; i < markers_trips.length; i++) {
      markers_trips[i].setMap(null);
    }
    markers_trips = [];
  }

  document.onload = drop();

</script>

<script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfDMuS-T8EaT1i_72vzMG181Qm4GyXXos&callback=initMap">
</script>

<div id="map">
</div>
<!-- <div class="trip_search">
    <div class="input-group">
      <input type="text" class="form-control" id="trip_search_input"placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" id="trip_search" type="button">Go!</button> -->

<form class="trip_search">
    <input type="text" class="trip_search_input" id="trip_search_input">
    <button type="submit" id="trip_search" class="pure-button">Search</button>
</form>

<!-- <div class="panel panel-default">

  <div class="panel-heading">My Trips</div>




  <table class="table">
    <th>Name</th>
        <th>Trip date</th>
        <th>User</th>
        <th>Description</th>
        <th colspan="3"></th>
         <% @trips.each do |trip| %>
        <td><%= trip.name %></td>
          <td><%= trip.trip_date %></td>
          <td><%= trip.user.name %></td>
          <td><%= trip.description %></td>
          <td><%= link_to 'Show', trip_locations_path(trip) %></td>
          <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
  </table>
</div> -->
<div class="panel panel-default">
<div class="panel-heading">My Trips</div>
<!-- <div class="trip_list"> -->
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Trip date</th>
        <th>User</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @trips.each do |trip| %>
        <tr>
          <td><%= trip.name %></td>
          <td><%= trip.trip_date %></td>
          <td><%= trip.user.name %></td>
          <td><%= trip.description %></td>
          <td><%= link_to 'Show', trip_locations_path(trip) %></td>
          <td><%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- </div> -->

<div class="trip_form">

  <%= form_for :trip, url: '/trips' do |f| %>
    Name: <%= f.text_field :name %> <br>
    Lat: <%= f.text_field :lat %> <br>
    Lng: <%= f.text_field :lng %> <br>
    Description: <%= f.text_field :description %> <br>
    Trip_date: <%= f.text_field :trip_date %> <br>
    <button type="submit" id="create_trip" class="create_trip">Create</button>
  <% end %>

</div>



