<ol class="breadcrumb">
  <li><a href="/trips">My Trips</a></li>
  <li class="active">Comments</li>
</ol>

<p id="notice"><%= notice %></p>
<div class="comments">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Comment</th>
      <th>User</th>
      <th>Trip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="table-striped">
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= comment.user.name %></td>
        <td><%= comment.trip.name %></td>
        <td><%= link_to 'Show', trip_comment_path(@trip,comment) %></td>
        <td><%= link_to 'Edit', edit_trip_comment_path(@trip,comment) %></td>
        <td><%= link_to 'Destroy', trip_comment_path(@trip,comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Comment', new_trip_comment_path(@trip) %>
