<ol class="breadcrumb">
  <li><a href="/trips">My Trips</a></li>
  <li><a href="/trips/<%= params[:trip_id]%>"><%= @trip.name %></a></li>
  <li class="active">Comments</li>
</ol>

<p id="notice"><%= notice %></p>
<div class="comments">

    <% @comments.each do |comment| %>
    <div class="col-md-12">
      <div class="row">
        <div class="col-sm-3">
          <img src="<%=comment.user.image_url%>" class="img-rounded" width="100" height="auto">
          <h5>Created by: <%=comment.user.name%></h5>
        </div>
        <div class="col-sm-6">
          <div class="jumbotron"><%= comment.comment %></div>
        </div>
        <div class="col-sm-3">
          <br>
          <%= link_to 'New Comment', new_trip_comment_path(@trip) %>
          <br>
          <%= link_to 'Show', trip_comment_path(@trip,comment) %>
          <br>
          <%= link_to 'Edit', edit_trip_comment_path(@trip,comment) %>
          <br>
          <%= link_to 'Destroy', trip_comment_path(@trip,comment), method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>   
          
        
    <% end %>
</div>


