<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @comment.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user.name %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @comment.trip.name %>
</p>

<%= link_to 'Edit', edit_trip_comment_path(@trip, @comment) %> |
<%= link_to 'Back', trip_comments_path %>
