<p id="notice"><%= notice %></p>

<div>
  <% if current_user %>
  Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout' %>
  <% else %>
    <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
  <% end %>  
</div>

<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Signup</a></li>
    <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Login</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane fade in active" id="signup">

      <%= form_for :user, url: '/users' do |f| %>

        Name: <%= f.text_field :name %> <br>
        Email: <%= f.text_field :email %> <br>
        Image_url: <%= f.text_field :image_url %> <br>
        Password: <%= f.password_field :password_digest %> <br>
        Password Confirmation: <%= f.password_field :password_confirmation %> <br>
        <%= f.submit "Submit" %>

      <% end %>

    </div>

    <div role="tabpanel" class="tab-pane fade" id="login">
      <%= form_tag '/login' do %>

        Email: <%= text_field_tag :email %> <br>
        Password: <%= password_field_tag :password_digest %> <br>
        <%= submit_tag "Submit" %>

      <% end %>

    </div>
  </div>

</div>