<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Trips:</strong>
  <% @user.trips.each do |trip| %>
  <a href="/trips/<%= trip.id %>">Trip <%= trip.id %></a>
  <% end %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
