<div class="user_profile">
	  
	<img src="<%= @user.image_url %>" class="thumbnail" height="178" >

	<p>
	  <strong>Name:</strong>
	  <%= @user.name %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<%= link_to 'Edit', edit_user_path(@user) %> |
	<%= link_to 'Back', trips_path %>
</div>
