<h1>New Location</h1>


<% lat = 20 %>

<div id="map"></div>
<script type="text/javascript">
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @trip.lat %>, lng: <%= @trip.lng %>},
      zoom: 15
    });
  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfDMuS-T8EaT1i_72vzMG181Qm4GyXXos&callback=initMap">
</script>

<h3>Search for a location to add</h3>
<form class="location_search">
  <input type="text" class="location_search_input" id="location_search_input">
  <button type="submit" id="location_search" class="pure-button">Search</button>
</form>
    <h3>Add a destination for your trip!</h3>
<form class="location_form" id="location_form" method = "POST">
  <label>Address:</label>
  <input type="text" class="location_address" id="location_address"><br>
  <label>Venue Notes:</label>
  <input type="text" class="location_notes" id="location_notes"><br>
  <button type="submit" id="create_pin" class="create_pin">Pin It</button>
</form>

<!-- <p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @trip.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @trip.lng %>
</p>

<p>
  <strong>Trip date:</strong>
  <%= @trip.trip_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @trip.user %>
</p>
 -->
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>

<!-- 
<%= render 'form' %>

<%= link_to 'Back', locations_path %> -->
