<p id="notice"><%= notice %></p>

<p>
  <strong>Loc long:</strong>
  <%= @location.loc_long %>
</p>

<p>
  <strong>Loc lat:</strong>
  <%= @location.loc_lat %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @location.venue %>
</p>

<p>
  <strong>Trip:</strong>
  <%= @location.trip %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
